* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    color: white;
    font-size: 45px;
    margin-bottom: 20px;
}

h2 {
    font-size: 30px;
}

hr {
    border-color: dodgerblue;
    margin-left: 300px;
    margin-right: 300px;
}

.head-container {
    background-image: url(img/jumbo.png);
    background-size: 2000px;
    background-repeat: no-repeat;
    max-width: 3000px;
    display: flex;
    text-align: center;
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 15px;
    font-weight: bold;
}

.row-head-1, .row-head-2, .row-head-3 {
    padding-bottom: 5px;
    padding-top: 5px;
}

.row-head-1 {
    background-image: url(img/logo.svg);
    background-repeat: no-repeat;
    padding-left: 5px;
    padding-right: 250px;
}

.row-head-2 {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.row-head-3 {
    background-color: white;
    margin-left: 200px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 20px;   
}

.row-head-4 {
    flex-wrap: wrap;
    align-self: flex-end;
    margin-top: 100px;
}

.head-p {
    color: white;
    margin-left: 600px;
    margin-right: 600px;
    text-align: center;
}

.head-button {
    margin-top: 30px;
    padding-bottom: 200px;
    display: flex;
    justify-content: center;
}

.head-button-1 {
    background-color: white;
    border-radius: 20px;
    margin-right: 15px;
    padding: 10px;
}

.head-button-2 {
    background-color: black;
    color: white;
    border-radius: 20px;
    margin-left: 15px;
    padding: 10px;
}

.main-container-1 {
    max-width: 3000px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}

.col-main-1 {
    background-image: url(img/item1.svg);
    background-repeat: no-repeat;
    padding: 50px;
    padding-top: 500px;
    padding-left: 700px;
    margin-left: 300px;
}

.col-main-2 {
    padding: 50px;
}

.p-col-1 {
    padding-top: 10px;
    font-weight: bold;
    font-size: 15px;
}

.main-container-2 {
    background-color: grey;
    background-size: 2000px;
    background-repeat: no-repeat;
    display: flex;
}

.col-main-3 {
    padding: 50px;
    padding-left: 400px;
    margin-right: 100px;
    margin-top: 200px;
}

.col-main-4 {
    background-image: url(img/item2.svg);
    background-repeat: no-repeat;
    padding: 50px;
    padding-top: 500px;
    padding-left: 700px;
    margin-top: 200px;
    margin-bottom: 100px;
}

.main-container-3 {
    max-width: 3000px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}

.col-main-5 {
    background-image: url(img/item3.svg);
    background-repeat: no-repeat;
    padding: 50px;
    padding-top: 500px;
    padding-left: 700px;
    margin-left: 300px;
    margin-top: 100px;
}

.col-main-6 {
    padding: 50px;
    margin-top: 100px;
}

.main-container-4 {
    background-color: grey;
    max-width: 3000px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.h2-main {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 40px;
}

.p-col-3 {
    text-align: center;
}

.row-main-2 {
    background-image: url(img/item4-big.svg);
    background-repeat: no-repeat;
    background-size: 1000px;
    padding: 50px;
    padding-top: 427px;
    padding-bottom: 200px;
    margin-left: 450px;
}

.h2-main-2 {
    background-image: url(img/stars.svg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.main-button {
    text-align: center;
    font-weight: bold;
    background-color: cadetblue;
    border-radius: 30px;
    margin-right: 850px;
    margin-left: 850px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 10px;
}

.footer-container {
    background-color: black;
    max-width: 3000px;
    padding-top: 10px;
    padding-bottom: 50px;
    border-bottom: solid 3px;
    border-color: grey;
}

.row-footer {
    display: flex;
}

.col-foot-1{
    margin-left: 300px;
}

.h2-foot {
    color: dodgerblue;
    margin-top: 30px;
}

.flag-ita {
    display: flex;
    margin-top: 20px;
}

.p-foot {
    color: white;
    margin-left: 10px;
}

.social-icons{
    display: flex;
    padding-top: 30px;
    max-width: 50px;
}

.twitter {
    margin-right: 30px;
}

.instagram {
    margin-right: 30px;
}

.facebook {
    margin-right: 30px;
}

.youtube {

}

.col-foot-2 {
    display: flex;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 30px;
}

.blue-text {
    color: dodgerblue;
    margin-left: 100px;
}

.white-text {
    color: white;
    margin-left: 100px;
}

.row-footer-2 {
    margin-right: 300px;
    margin-left: 300px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
}

.col-foot-3 {
    background-image: url(img/logo.svg);
    background-repeat: no-repeat;
    padding: 2px;
    padding-left: 200px;
}

.col-foot-4 {
    background-color: dodgerblue;
    border-radius: 30px;
    color: white;
    padding: 5px;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 1050px;
}